@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  .font-playfair {
    font-family: "Playfair Display", serif;
  }

  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .backdrop-blur-custom {
    backdrop-filter: blur(10px);
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
